body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 225, 189);
}

.main-container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;     /* move content to the center */
    border-radius: 10px;
}

.heading {
    text-align: center;
    margin: 0 auto 15px auto   /* top,right,bottom,left */
}

.form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

#calendar {
    padding: auto 5px;
    width: 40%;
}

.submit {
    background-color: greenyellow;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 80%;
    margin: 0 auto;     /* center */
    transition: background-color .5s ease; /* ease (default) */
}

.submit:hover {
    background-color: rgb(29, 204, 13);
}

.author {
    margin: 20px auto;
    text-align: center;
}

#result {
    margin: 20px auto;
    font-size: large;
    font-weight: bold;
}

@media (max-width: 500px) {  
    .main-container {
        padding-bottom: 5px;
        max-width: 250px;
        margin-top: 50px;     /* move content to the center */
        border-radius: 10px;
    }
    .submit {
        margin-bottom: 10px;
    }
    .heading {
        margin-bottom: 10px;
        font-size: 25px;
    }
    label {
        font-size: 13px;
    }
    .author {
        margin-top: 10px
    }
    #result {
        
    }
    #calendar {
        width: 60%;
    }
}